.App {
  text-align: center;
  font-size: 1.3125rem;
  background-color: aqua;
}

.App-link {
  color: #61dafb;
}

:root {
  font-size: 1.3125rem;
  background-color: pink;
}

@media (min-width: 320) {
  .phoneInput {
    border: 3px solid red;
    align-self: end;
    margin-left: -2.55em;
  }
}
